<div class="main" *ngIf="!isAuthorized()">
  <div class="container">
    <div class="middle">
      <div id="login">
        <form [formGroup]="loginForm" formName="loginForm" autocomplete="off">
          <fieldset class="clearfix">
            <p><span class="fa fa-user"></span><input type="text" Placeholder="Username" formControlName="username" required></p>
            <p><span class="fa fa-lock"></span><input type="password" Placeholder="Password" #passwordInput formControlName="password" required></p>
            <div>
              <span style="width:48%; text-align:left;  display: inline-block;">
                  <a class="small-text" href="#" (click)="ForgotUser($event)">Forgot password?</a>
              </span>
              <span style="width:50%; text-align:right;  display: inline-block;">
                <button (click)="LoginUser($event)" type="button" class="btn btn-dark">Sign In</button></span>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="brandLogo">
      </div>
    </div>
  </div>
</div>